<!DOCTYPE html>
<html>
<head>
  <title>PrayerAppV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'logout', logout_path %>
<%= link_to 'login', login_path %>
<%= link_to 'signup', signup_path %>
<% if logged_in? %>
  <%= current_user.name %>
<% else %>
  <h4>Not logged in.</h4>
<% end %>

<%= yield %>

</body>
</html>
